.ghost-btn {
    background-color: #00000000;
    color: var(--primary-blue);
    border: 2.5px solid var(--primary-blue);
    font-weight: 600;
    font-size: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 50px;
    position: relative;
}

.ghost-btn:hover {
    background-color: #0b5ed7;
    color: #ffffff;
    border-color: #0a58ca;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

