.ghost-btn {
    background-color: #00000000;
    border: 2.5px solid var(--primary-blue);
    font-weight: 600;
    font-size: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
    position: relative;
    align-items: center;
    display: flex;
    text-align: center;
}

.ghost-btn a {
    color: var(--primary-blue) !important;
    text-decoration: none;
}

.ghost-btn:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -ms-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.ghost-btn:hover a {
    color: #fff !important;
}
