.header {
    padding-top: 50px;
    height: 135px;
    margin-bottom: 110px;
    gap: 20px;
}

.header .navbar {
    flex-wrap: wrap;
    gap: 20px;
}

.second-floor {
    background-color: #FF6F0073;
    height: 50px;
    font-weight: 600;
    font-size: 18px;
}

.nav-item .active {
    font-weight: 800;
}

.second_floor a {
    font-weight: 700;
    font-size: 18px;
}

.divider {
    width: 2px;
    height: 50px;
    background: var(--primary-blue);
    margin: 0 10px;
    flex-shrink: 0;
}

.social-block {
    display: flex;
    gap: 8px;
}

.navbar {
    margin-top: 40px;
    flex-wrap: wrap;
}

.navbar-collapse {

}

.expand-btn {
    background-color: transparent;
    border: none;
}

.expand-btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.collapse-menu-wrapper {
    position: fixed;
    min-height: 110vh;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
    padding: 20px;
}

.logo-wrapper {
    margin-top: 60px;
}

.menu-close-btn {
    position: absolute;
    right: 20px;
    border: none;
}

.menu-close-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: var(--primary-orange);
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-close-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background: var(--primary-orange);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.menu-close-btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.collapse-menu-links {
    gap: 10px;
    font-weight: 500;
    font-size: 18px;
}

.collapse-menu-links a{
    text-decoration: none;
    color: #000;
}

.collapse-menu-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-blue);
    height: 2px;
}

.contacts {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
}

.contacts p:nth-child(1) {
    font-weight: 500;
    font-size: 18px;
}

.soc-links-list {
    gap: 10px;
}

.soc-links p {
    font-weight: 500;
    font-size: 18px;
}