@media (max-width: 768px) {
  .sm-fs-0 {
    font-size: 10px !important;
  }
  .sm-fs-1 {
    font-size: 14px !important;
  }
  .sm-fs-2 {
    font-size: 16px !important;
  }
  .sm-fs-3 {
    font-size: 18px !important;
  }
  .sm-fs-4 {
    font-size: 20px !important;
  }
  .sm-fs-5 {
    font-size: 35px !important;
  }
  .sm-fst-italic {
    font-style: italic !important;
  }
}

* {
  line-height: normal;
}

body {
  font-family: Montserrat, sans-serif;
  color: var(--primary-black);
}

:root {
  --primary-blue: rgb(9, 132, 255);
  --primary-black: #010101;
  --primary-orange: rgb(255, 111, 0);
  --bs-accordion-active-bg: #fff !important;
}

.spacer-80 {
  margin-bottom: 80px;
}