.nav-item .row {
    align-items: center;
}

.nav-item .first_text{
    margin-bottom: 5px;
    color: var(--primary-blue);
    font-size: 14px;
}

.nav-item .second_text {
    margin-bottom: 0;
    font-size: 15px;
}

.nav-item-content-wrapper {
    gap: 10px;
}

/*.nav-item-img {*/
/*    padding: 0 10px;*/
/*}*/

/*.nav-item-text_block {*/
/*    padding: 0;*/
/*}*/